body {
    font-family: monospace;
    text-align: center;
}

h1 {
    font-size: 34px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #FFAD00;
}

.clock {
    position: relative;
    margin: auto;
    width: 675px;
    height: 675px;
    background-image: url(clock.png);
}

.world {
    position: relative;
    margin: auto;
    width: 675px;
    height: 675px;
    background-image: url(world.png);
}