body {
    font-family: monospace;
    text-align: center;
}

h1 {
    font-size: 34px;
    margin: 13px auto;
}

p {
    position: relative;
    margin: 13px auto;
    width: 675px;
    z-index: 2;
}

a {
    font-weight: bold;
    color: #FFAD00;
}

#clock {
    position: relative;
    margin: auto;
    width: 675px;
    height: 675px;
    background-image: url(clock.png);
}

#world {
    z-index: 1;
    position: absolute;
    margin: auto;
    width: 675px;
    height: 675px;
    background-image: url(world.png);
}

#disclaimer span {
    font-weight:bold;
}