body {
    text-align: center;
    font-family: monospace;
}

h1 {
    margin: 13px auto;
    font-size: 34px;
}

p {
    width: 675px;
    margin: 13px auto;
    z-index: 4;
    position: relative;
}

a {
    color: #FFAD00;
    font-weight: bold;
}

#clock {
    width: 675px;
    height: 675px;
    margin: auto;
    position: relative;
    background-image: url(clock.png);
}

#timelines {
    width: 675px;
    height: 675px;
    z-index: 3;
    position: absolute;
    background-image: url(timelines.png);
}

#world {
    width: 675px;
    height: 675px;
    z-index: 1;
    position: absolute;
    background-image: url(world.png);
}

#worldTwo {
    width: 675px;
    height: 675px;
    z-index: 2;
    position: absolute;
    background-image: url(world2.png);
}

#toggleTimeLines {
    z-index: 4;
    position: relative;
    margin-top: 13px;
}

#toggleWorldTwo {
    z-index: 4;
    position: relative;
    margin-top: 13px;
}

#disclaimer span {
    font-weight:bold;
}